<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>메인 페이지</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <header class="my-4">
        <h1>플랫폼 이름</h1>
        <a href="/loginform" class="btn btn-primary">로그인</a>
        <a href="/loginform" class="btn btn-primary">로그인</a>

    </header>
    <main>
        <div class="alert alert-info">
            아직 미개발
        </div>
    </main>
</div>
</body>
</html>
