<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <header class="my-4">
        <h1>로그인 폼</h1>
    </header>
    <main>
        <form action="/login" method="post" class="mb-4">
            <div class="form-group">
                <label for="username">아이디를 입력해주세요</label>
                <input type="text" id="username" name="username" class="form-control">
            </div>
            <div class="form-group">
                <label for="password">암호를 입력해주세요</label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">로그인 버튼</button>
            <a href="/userregform" class="btn btn-secondary">회원가입</a>
        </form>
    </main>
</div>
</body>
</html>
