<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원 가입 오류</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="bg-primary">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-header bg-success text-white">
                    <h4>플랫폼이름</h4>
                </div>
                <div class="card-body text-center">
                    <h5>회원 가입 오류</h5>
                    <p th:text="${errorMessage}">오류 메시지</p>
                    <a href="/loginform" class="btn btn-primary mt-3">로그인</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
